.historias-section {
  position: relative;
  width: 100%;
  height: clamp(600px, 42.8125vw, 822px);
  background: #EC6726;
  overflow: visible;
  z-index: 2;
}

.historias-video {
  position: absolute;
  top: clamp(180px, 13.5938vw, 261px);
  left: 50%;
  width: min(64.4271vw, 1237px);
  aspect-ratio: 16 / 9;
  height: auto;
  border: none;
  transform: translateX(-50%);
}

.historias-text {
  position: absolute;
  top: clamp(56px, 4.6354vw, 89px);
  left: 50%;
  width: min(50.5208vw, 970px);
  height: auto;
  text-align: center;
  font: italic normal 900 64px/69px Inter;
  letter-spacing: 0px;
  color: #FFFFFF;
  text-transform: uppercase;
  margin: 0;
  transform: translateX(-50%);
}
